.box_1620 {
    background: #fff;
    min-height: 360px;
    border-radius: 12px;
    position: relative;
    bottom: -120px; 
}
.contact_info .info_item {
    position: relative;
    padding-left: 45px;
}
.contact_info .info_item .ant__icons {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    line-height: 24px;
    color: #766dff;
    font-weight: 600;
}