// @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
// @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
// @import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

img,
object {
    display: block;
    border: 0;
    max-width: 100%;
    height: auto;
}

* {
    -moz-box-sizing: border-box;
    -webkit-kit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

body {
    //font-family: "Poppins", sans-serif;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    //background: #fefefe;
    // background-image:url("https://images.unsplash.com/photo-1530543787849-128d94430c6b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
    // url("https://images.unsplash.com/photo-1557683325-3ba8f0df79de?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=243&q=80");
    //url("https://images.unsplash.com/photo-1442508748335-fde9c3f58fd9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=666&q=80");
    //url("https://images.unsplash.com/photo-1473496169904-658ba7c44d8a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
    //url("https://images.unsplash.com/photo-1534082753658-1dcb40af5719?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
    //https://images.unsplash.com/photo-1496868834840-5f4c98840aaa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80
    //url("https://images.unsplash.com/flagged/photo-1559762731-d0dd66ab7e10?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDR8fGJ1YmJsZXMlMjBiYWNrZ3JvdW5kfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    //url("https://images.unsplash.com/photo-1548504778-b14db6c34b04?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80");
    background-attachment: fixed;
    background: url("https://sizzy.co/images/dots.svg") repeat center/auto;
    letter-spacing: normal;
}

.container {
    margin: 40px 20px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    padding: 20px;
    width: 95%;
}

// .container:before{
//   content: "";
//   position: absolute;
//   background: inherit;
//   z-index: -1;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   box-shadow: inset 0 0 2000px rgba(255, 255, 255, .7);
//   filter: blur(10px);
//   margin: -20px;

//  }

h1 {
    font-size: 3em;
    font-weight: 600;
}

.scroll-to-top {
    color: rgb(0, 0, 128);
    text-align: right;
    animation-play-state: paused;

    :hover {
        animation: displayAnn 2s linear infinite;
        animation-play-state: running;
    }
}

@keyframes displayAnn {
    0% {
        color: blue;
    }

    20% {
        color: green;
    }

    30% {
        color: yellow;
    }

    50% {
        color: orange;
    }

    70% {
        color: red;
    }

    90% {
        color: white;
    }

    100% {
        color: rgb(0, 0, 128);
    }
}

.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.basic_info a {
    color: #303031;
}

.basic_info li {
    margin-bottom: 15px;
}

.ul__list__content {
    padding-left: 16px;
}

.personal_text .basic_info li a {
    position: relative;
    padding-left: 40px;
    font-size: 16px;
    color: #777777;
}

.personal_text .basic_info li a i {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #766dff;
}

.container__blog {
    background-color: #fff;
}

.min_height_Xpx {
    min-height: 538px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .min_height_Xpx {
        min-height: 486px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .min_height_Xpx {
        min-height: 486px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .min_height_Xpx {
        min-height: 538px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .min_height_Xpx {
        min-height: 538px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .min_height_Xpx {
        min-height: 538px;
    }
}